<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="dataSource.properties">
        <property name="username" value="root"/>
        <property name="classPassword" value="12345678" />
    </properties>
    <settings>
        <!--
        lazyLoadingEnabled:
            延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。 特定关联关系中可通过设置 fetchType 属性来覆盖该项的开关状态。
        aggressiveLazyLoading:
            开启时，任一方法的调用都会加载该对象的所有延迟加载属性。 否则，每个延迟加载属性会按需加载（参考 lazyLoadTriggerMethods)。
        lazyLoadTriggerMethods:
            指定对象的哪些方法触发一次延迟加载。用逗号分隔的方法列表。例如：equals,clone,hashCode,toString
        -->
        <setting name="lazyLoadingEnabled" value="false"/>
<!--        <setting name="aggressiveLazyLoading" value="true"/>-->
        <setting name="lazyLoadTriggerMethods" value="toString"/>
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/mapper.xml"/>
        <!--

        <mapper class="com.dao.StudentDao"/>

            class:dao接口的全限定类名
            映射文件在dao接口所在包下，映射文件名称必须与dao接口名称一样
        -->

        <!--

        <package name="com.dao"/>

           name:dao接口所在的包名
           映射文件在dao接口所在包下，映射文件名称必须与dao接口名称一样
           作用：把该包之下的所有映射文件注册进来
       -->
    </mappers>
</configuration>
